@import '../../components/colors/variables.css';

.sectionContainer {
    width: 100%;
    background: rgb(133, 76, 48);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-top: solid 4px var(--divider-color);
    border-bottom: solid 4px var(--border-color);
}

.sectionWrapper {
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    margin: -1px;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url('../../assets/Header/town.gif');
}

.sectionWrapper img {
    width: 44%;
    margin: auto;
}

@media screen and (max-width: 1100px) {
    .sectionWrapper img {
        width: 80%;
    }
}

@media screen and (max-width: 660px) {
    .sectionWrapper img {
        width: 90%;
    }
}

@media screen and (max-width: 440px) {
    .sectionWrapper img {
        width: 100%;
    }
}
