@import '../../components/colors/variables.css';

.sectionContainer {
    width: 100%;
    background: #A97A59;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: -1px;
}

.sectionWrapper {
    border-top: solid 4px var(--divider-color);
    max-width: var(--section-max-width);
    width: var(--section-width);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding-bottom: 44px;
}

.titleWrap {
    width: 100%;
    position: relative;
    height: max-content;
}

.titleBackground {
    background-image: url("../../assets/History/historyTitleBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    position: relative;
    height: 240px;
}

.titleDecoration {
    background-image: url("../../assets/History/titleDecoration.png");
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    z-index: 1;
    width: 70%;
    height: 200px;
    top: 30px;
    left: 15%
}

.title {
    position: absolute;
    display: block;
    z-index: 4;
    font-size: var(--title-size);
    top: 38%;
    left: 33%;
}

.avatarsWrapper {
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.avatarsWrapper img {
    width: 20%;
}

.textWrap {
    composes: titleWrap;
}


.textBackground {
    composes: titleBackground;
    background-image: url("../../assets/History/textBackground.png");
}

.text {
    position: absolute;
    display: block;
    z-index: 4;
    top: 10%;
    left: 10%;
    width: 80%;
    text-align: center;
    font-size: 26px;
}

.spritesWrap {
    height: max-content;
}

.sprites {
    width: 86%;
}

.footerDecoration {
    width: 44%;
}


@media screen and (max-width: 1350px) {
    .title {
        left: 38%;
    }
}

@media screen and (max-width: 800px) {
    .title {
        top: 38%;
        left: 33%;
    }
}

@media screen and (max-width: 700px) {
    .titleDecoration {
        width: 90%;
        left: 5%;
    }
    .textBackground{
        height: 380px;
    }
}

@media screen and (max-width: 600px) {
    .title {
        top: 34%;
        left: 28%;
    }
}

@media screen and (max-width: 500px) {
    .title {
        top: 30%;
        left: 25%;
    }
}

@media screen and (max-width: 450px) {
    .title {
        top: 30%;
        left: 20%;
    }
    .textBackground{
        height: 440px;
    }
}

@media screen and (max-width: 390px) {
    .title {
        top: 27%;
        left: 24%;
    }

    .textBackground{
        height: 500px;
    }
}
