:root {
    --header-back-color: #854C30;
    --divider-color: #140C1C;
    --border-color: #442434;
    --footer-back-color: #854C30;
    --footer-divider-color: #CF8D46;
    --roadmap-back-color:#A97A59;

    --title-size: 70px;
    --sub-title-size:54px;
    --header-height: 120px;
    --header-width: 1000px;
    --header-max-width: 1000px;
    --nav-btn-width: 180px;
    --section-width: 1000px;
    --section-max-width: 1000px;
    --about-text-width: 412px;
    --about-text-margin: 16px;
    --footer-height: 150px;
}

@media screen and (max-width: 1600px) {
    :root {
        --header-height: 80px;
        --nav-btn-width: 150px;
        --section-width: 1000px;
        --footer-height: 100px;

        --title-size: 64px;
    }
}

@media screen and (max-width: 1350px) {
    :root {
        --title-size: 50px;
        --sub-title-size: 40px;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --section-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    :root {
        --title-size: 44px;
        --sub-title-size: 36px;
    }
}

@media screen and (max-width: 390px) {
    :root {
        --title-size: 36px;
        --sub-title-size: 30px;
    }
}


