@import '../../components/colors/variables.css';

.container {

}

.backdrop {
    position: fixed;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.modal {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    transition: all .3s ease-in-out;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBackground{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header_modal {
    display: flex;
    justify-content: flex-end;
}

.closeIcon {
    position: absolute;
    right: 5%;
    top:5%;
    padding: 0;
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 50%;
}
.closeIcon img{
    width: 100%;
    height: 100%;
}

.opened {
    opacity: 1;
}

.close {
    transform: translate(101%, 100%)
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBtn {
    padding: 0;
    border: none;
    height: 47px;
    margin-bottom: 5px;
}

.navBtn img{
    height: 100%;
}
