@import '../../components/colors/variables.css';

.sectionContainer {
    width: 100%;
    background: rgb(203, 153, 117);
    background: linear-gradient(180deg, rgba(203, 153, 117, 1) 0%, rgba(195, 146, 111, 1) 2%, rgba(186, 138, 103, 1) 4%, rgba(169, 122, 89, 1) 11%);
    display: flex;
    justify-content: center;
    padding-top: 44px;
    box-sizing: border-box;
    margin: -1px;
}

.sectionWrapper {
    max-width: var(--section-max-width);
    width: var(--section-width);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.titleWrap {
    width: 100%;
    position: relative;
    height: max-content;
}

.titleBackground {
    width: 80%;
    height: max-content;
    position: relative;
}

.title {
    position: absolute;
    display: block;
    z-index: 4;
    font-size: var(--title-size);
    top: 35%;
    left: 35%;
}

.descriptionBox {
    height: max-content;
    display: flex;
    width: 100%;
}


.imgContainer {
    position: relative;
    width: 40%;
    min-height: 280px;
    display: flex;
    justify-content: center;
}

.leftImg {
    margin-top: 20px;
    margin-bottom: auto;
    width: 280px;
}

.arrowImg {
    position: absolute;
    bottom: -40px;
    left: 50%;
    z-index: 1;
}

.descriptionText {
    width: 60%;
    max-width: 400px;
    display: flex;
    text-align: start;
    flex-direction: column;
}

.subTitle {
    font-size: var(--sub-title-size);
    line-height: var(--sub-title-size);
    font-weight: 600;
    margin-bottom: 16px;
}

.text {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 42px;
}

.lastSectionImg {
    width: 90%;
    margin-bottom: 40px;
}

@media screen and (max-width: 860px) {
    .descriptionBox {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 30px;
    }

    .text {
        margin-bottom: 0;
    }

    .descriptionText {
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .titleBackground {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .descriptionText {
    width: 90%;
    }
    .arrowImg {
        bottom: -20px;
    }
}

@media screen and (max-width: 560px) {
    .title {
        left: 30%;
    }
}

@media screen and (max-width: 500px) {
    .arrowImg {
        bottom: 0;
    }
}
@media screen and (max-width: 450px) {
    .title {
        left: 33%;
    }
}
