@import '../../components/colors/variables.css';

.sectionContainer {
    width: 100%;
    background: rgb(203,153,117);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: -1px;
    border-top: solid 3px var(--divider-color);
    border-bottom: solid 4px var(--border-color);
}

.sectionWrapper {
    padding-top: 44px;
    padding-bottom: 40px;
    max-width: var(--section-max-width);
    width: var(--section-width);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.titleWrap {
    width: 100%;
    position: relative;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 360px;
}

.titleBackground {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.titleDecoration {
    position: absolute;
    background-size: contain;
    z-index: 1;
    width: 50%;
    top: auto;
}

.title {
    z-index: 4;
    font-size: var(--title-size);
    margin-top: 36px;
}

.textContainer {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 530px;
}

.leftTextContainer {
    composes: textContainer;
    min-height: 400px;
}

.sideImg {
    width: 35%;
}

.rightTextWrap {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    position: relative;
    align-items: flex-end;
}

.leftTextWrap {
    composes: rightTextWrap;
    text-align: left;
    align-items: flex-start;
}

.textBackground {
    position: absolute;
    z-index: 1;
    width: 100%;
}


.rightSubTitle {
    padding-top: 100px;
    display: block;
    font-size: var(--sub-title-size);
    line-height: var(--sub-title-size);
    font-weight: 600;
    margin-bottom: 40px;
    z-index: 2;
    margin-right: var(--about-text-margin);
}

.leftSubTitle {
    composes: rightSubTitle;
    padding-top: 60px;
    margin-left: var(--about-text-margin);
    margin-right: 0;
}

.rightSubText {
    display: block;
    font-size: 26px;
    max-width: var(--about-text-width);
    z-index: 2;
    margin-right: var(--about-text-margin);
}

.leftSubText {
    composes: rightSubText;
    margin-right: 0;
    margin-left: var(--about-text-margin);
}

.centeredImg {
    width: 80%;
    margin-bottom: 80px;
}

.lastSectionImg {
    width: 90%;
    margin-bottom: 40px;
}

@media screen  and (max-width: 1100px) {
    .centeredImg {
        width: 100%;
    }
}

@media screen  and (max-width: 700px) {
    .titleWrap {
        min-height: 300px;
        height: 300px;
    }

    .textContainer{
        min-height: 430px;
        margin-bottom: 16px;
    }
}

@media screen  and (max-width: 600px) {
    .titleWrap {
        min-height: 200px;
        height: 200px;
    }
}
