@import '../../components/colors/variables.css';

.container {
    position: fixed;
    width: 100%;
    background-color: var(--header-back-color);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-top: solid 4px var(--border-color);
    border-bottom: solid 4px var(--border-color);
    box-sizing: border-box;
    z-index: 99;
}

.navWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 30px 0 70px;
}

.navWrapper a {
    -webkit-tap-highlight-color: transparent;
}

.leftWrapper {
    display: flex;
    align-items: center;
    height: 100%;
}


.logo {
    height: 100%;
    width: 140px;
    background: 60% 20% no-repeat url("../../assets/Header/backLogo.png");
    -webkit-tap-highlight-color: transparent;
    display: none;
}

.mobileHeaderImg {
    height: 80%;
    display: none;
}

.btn {
    height: var(--nav-btn-height);
    border: none;
    cursor: pointer;
    margin-right: 16px;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.btn img {
    height: 100%;
    width: 100%;
}

.standardBtn {
    composes: btn;
    width: calc(var(--nav-btn-height) * 3);
}

.standardBtn:active {
    width: calc(var(--nav-btn-height) * 3 - 2px);
    height: calc(var(--nav-btn-height) - 2px);
    margin-top: 2px;
    margin-right: 18px;
}

.marketBtn {
    composes: btn;
    width: calc(var(--nav-btn-height) * 3.33);
}

.marketBtn:active {
    width: calc((var(--nav-btn-height) * 3.33) - 2px);
    height: calc(var(--nav-btn-height) - 2px);
    margin-top: 2px;
    margin-right: 18px;
}

.docsBtn {
    composes: btn;
    width: calc(var(--nav-btn-height) * 2.37);
}

.docsBtn:active {
    width: calc((var(--nav-btn-height) * 2.37) - 2px);
    height: calc(var(--nav-btn-height) - 2px);
    margin-top: 2px;
    margin-right: 18px;
}

.partnersBtn {
    composes: btn;
    width: calc(var(--nav-btn-height) * 2.6);
}

.partnersBtn:active {
    width: calc((var(--nav-btn-height) * 2.6) - 2px);
    height: calc(var(--nav-btn-height) - 2px);
    margin-top: 2px;
    margin-right: 18px;
}

.burgerBtn {
    display: none;
    border: none;
    cursor: pointer;
    height: 48px;
    width: 48px;
    padding: 0;
    margin-right: 16px;
    -webkit-tap-highlight-color: transparent;
}

.burgerBtn img {
    height: 100%;
    width: 100%;
}


.socialLink {
    width: 64px;
    height: 64px;
    cursor: pointer;
    margin-right: 16px;
}

@media screen and (max-width: 1600px) {
    .navWrapper {
        padding: 0 20px 0 50px;
    }

    .socialLink {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .navWrapper {
        padding: 0 20px 0 10px;
    }

    .mobileHeaderImg {
        display: flex;
    }

    .burgerBtn {
        display: flex;
    }

    .btn {
        display: none;
    }

    .linkWrapper {
        display: none;
    }

    .logo {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .mobileHeaderImg {
        display: none;
    }
    .navWrapper {
        padding: 0 20px 0 30px;
    }
}
