@import '../../components/colors/variables.css';

.container {
    position: fixed;
    width: 100%;
    background-color: var(--header-back-color);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border-top: solid 4px var(--border-color);
    border-bottom: solid 4px var(--border-color);
    box-sizing: border-box;
    z-index: 99;
}

.navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: var(--header-width);
    max-width: var(--header-max-width);
}

.navWrapper a {
    -webkit-tap-highlight-color: transparent;
}

.leftWrapper {
    display: flex;
    align-items: center;
}


.logo {
    height: 76px;
    width: 72px;
    margin-right: 32px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.btn {
    width: var(--nav-btn-width);
    height: calc(var(--nav-btn-width) / 3);
    border: none;
    cursor: pointer;
    margin-right: 16px;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.btn img {
    height: 100%;
    width: 100%;
}

.burgerBtn{
    border: none;
    cursor: pointer;
    height: 48px;
    width: 48px;
    padding: 0;
    margin-right: 16px;
    -webkit-tap-highlight-color: transparent;
}

.burgerBtn img{
    height: 100%;
    width: 100%;
}

.btn:active {
    width: calc(var(--nav-btn-width) - 2px);
    height: calc((var(--nav-btn-width) / 3) - 2px);
    margin-top: 2px;
    margin-right: 18px;
}

.socialLink {
    width: 64px;
    height: 64px;
    cursor: pointer;
    margin-right: 16px;
}

@media screen and (max-width: 1020px) {
    .logo {
        margin-left: 16px;
    }
}

@media screen and (max-width: 1600px) {
    .logo {
        height: 58px;
        width: 54px;
    }

    .socialLink {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 860px) {
    .btn {
        display: none;
    }

    .linkWrapper {
        display: none;
    }
}
