@import '../../components/colors/variables.css';

.container {
    width: 100%;
    padding-top: 2px;
    box-sizing: border-box;
    background-color: var(--footer-back-color);
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: solid 4px var(--border-color);
    border-bottom: solid 4px var(--border-color);
}

.divider {
    align-self: flex-start;
    width: 100%;
    height: 2px;
    background: var(--footer-divider-color);
}

.footerWrapper {
    width: var(--header-width);
    max-width: var(--header-max-width);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 45%;
    height: 60%;
}

@media screen and (max-width: 1600px){
    .container img {
        max-width: 200px;
    }
}
